// You can write Stylus styles here!
// Stylus is like a good-lookin' superset of CSS with superpowers.
// See http://stylus-lang.com


a:link {
    text-decoration: none;
    color  #302ead
}

head
  margin-left auto
  margin-right auto
  width 70%



.p-name
  text-align center
  font-size 2.5em
  

body
  background-color #d9d9d9
  font-family: 'Nunito Sans', sans-serif
  font-weight light
  font-style regular
  font-size 0.9em
  line-height 2.1em
 
  margin-left  auto
  margin-right auto 
  width 60%
  overflow visible


.h-entry
  margin-top 80px
  margin-bottom 80px

p.post-metadata
  font-size 13px
  font-style italic
  text-align center
