extends /src/includes/layout.jade

block nav-home
    li.navlink Home

block head
    title Jackie Meggesto

block content

  h1 Welcome
  p  I'm Jackie Meggesto, and this is my blog.

  img(src = '/images/me.png' width = '45%' height = '45%')

  p This is a picture of me. This is not my blog.

  h1 About me
  p I'm a programmer. I've done iOS development primarily and I'm looking to branch out.

  <strong>Things What I've Made/Am Working On:</strong>
  <ul>
  <li><a href="https://github.com/Jmeggesto/Glamour">Clone of Space Invaders using NCurses/C++ (semi-unfinished) </a></li>
  <li><a href="https://github.com/Jmeggesto/JMTextView">JMTextView, a Swift version of a UITextView library</a></li>
  <li><a href="">Halifax, an HTTP Server in Haskell</a></li>
  <li><a href="https://github.com/JMeggesto/StringUtils">StringUtils, library of Swift string extensions (hasn't been touched in ages so I need to go back and polish it up)</a></li>
  <li>I <a href='https://github.com/jmeggesto/zig'>contribute</a> to the <a href='ziglang.org'>Zig Programming Language</a></li>
  </ul>

  p For my full resume, please see the "Resume" tab.

  h1 Things What I'm Interested In:

  p I've got a lot of interests/things I want to get better at/things what I want to learn.

